<!--文章管理 列表页面-->
<!DOCTYPE html>
<html lang="en">
<%include ../templates/header.html%>

	<body class="skin-2">
		<%include ../templates/navbar.html%>
			<div class="main-container ace-save-state" id="main-container">
				<script type="text/javascript">
					try {
						ace.settings.loadState('main-container')
					} catch (e) {}
				</script>
				<%include ../templates/sidebar.html%>
					<div class="main-content">
						<div class="main-content-inner">
							<%include ../templates/breadcrumbs.html%>
								<div class="page-content">
									<%include ../templates/ace-settings-container.html%>
										<div class="page-header">
											<h1>
												文章管理
												<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									文章列表
								</small>
											</h1>
										</div>
										<div class="row">
											<table id="postList" class="table table-striped table-bordered table-hover">
											</table>
										</div>
								</div>
						</div>
					</div>
					<%include ../templates/footer.html%>
			</div>
			<%include ../templates/scripts.html%>
		<script>
         
		  	jQuery(function($) {
					var userTable = 
				    $('#postList').DataTable({
                     paging: true,
                     searching: false,
                     info: false,
                     sort: false,
					 ajax:'/admin/api/post',
                     columns: [{
						 data:'id',
						 title:'ID',
						 width:'50'
					 },{
                         data: "title",
                         title: "标题",
						 width:'400'
                     }, {
                         data: "user_id",
                         title: "作者",
						 width:'100'
                     }, {
                         data: "status",
                         title: "状态",
						 width:'80'
                     }, {
						  data: "created_at",
                          title: "创建日期",
					 },{
                         data: "updated_at",
                         title: "更新日期",
                     },{
						 data:"id",
						 title:'操作'
					 }],
					  columnDefs: [{
                         targets: [3],
                         width: '40px',
                         render: function (data, type, full, meta) {
                             return '<span class="label label-sm label-success">已发布</span>';
                         }
                     },{
						 targets: [6],
                         render: function (data, type, full, meta) {
                             return '<button class="btn btn-white btn-default btn-sm" onclick="edit('+data+')"><i class="ace-icon fa fa-edit  orange"></i>编辑</button> '+
							 '<button class="btn btn-white btn-warning btn-sm"><i class="ace-icon fa fa-trash-o red"></i>删除</button>';
                         }
					 }]
                 });
				});
		</script>
	</body>

</html>v