<!DOCTYPE html>
<html lang="en">
<%include ../templates/header.html%>

    <body class="skin-2">
        <%include ../templates/navbar.html%>
            <div class="main-container ace-save-state" id="main-container">
                <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>
                <%include ../templates/sidebar.html%>
                    <div class="main-content">
                        <div class="main-content-inner">
                            <%include ../templates/breadcrumbs.html%>
                                <div class="page-content">
                                    <%include ../templates/ace-settings-container.html%>
                                        <div class="page-header">
                                            <h1>
                                                用户管理
                                                <small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									新增用户
								</small>
                                            </h1>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">用户名： </label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="userName" placeholder="用户名" class="col-xs-10 col-sm-5" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">昵称： </label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="userNick" placeholder="昵称" class="col-xs-10 col-sm-5" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">电子邮箱： </label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="email" placeholder="邮箱地址" class="col-xs-10 col-sm-5" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">密码： </label>
                                                        <div class="col-sm-9">
                                                            <input type="password" id="password" placeholder="密码" class="col-xs-10 col-sm-5" />
                                                        </div>
                                                    </div>
                                                    <div class="clearfix ">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button class="btn btn-info" type="button">
												<i class="ace-icon fa fa-check bigger-110"></i>
												提交
											</button> &nbsp; &nbsp; &nbsp;
                                                            <button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												重置
											</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                </div>
                        </div>
                    </div>
                    <%include ../templates/footer.html%>
            </div>
            <%include ../templates/scripts.html%>
    </body>

</html>v