<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/static/images/favicon.ico" />
  <title>Life is like a song</title>
  <style>
    * {
      padding: 0;
      margin: 0;
      font-size: 16px;
      line-height: 20px;
      font-family: arial;
    }
    
    a,
    a:visited {
      color: #337ab7;
      text-decoration: none;
    }
    
    .content {
      width: 1000px;
      margin: auto
    }
    
    .wrap {
      width: 1000px;
      margin: auto
    }    
    body {
      background: url(/static/images/login/3.jpg) no-repeat
    }
  </style>
</head>

<body>
  <header>
  
  </header>
  <div class="content">
    
  </div>
</body>

</html>